@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Graphik Web", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

@layer components {
  .list {
    @apply flex px-2 hover:bg-gray-50 h-20 rounded-lg cursor-pointer text-sm;
  }

  .mobileList {
    @apply w-full cursor-pointer rounded-lg px-4 py-1 hover:bg-gray-100 text-center;
  }
}
